# Ignore everything in the repo root
/*

# Keep these root files
!/tools.html
!/course-details.html
!/.gitignore
!/.gitattributes
!/index.html
!/planner.html
!/weekly.html
!/main-ui.css
!/schedule_worker.js
!/changelog.html
!/nte-helper.html

# Keep data folder (necessary JSONs)
!/data/
!/data/**
