# Ignore everything in the repo root
/*

# Keep these root files
!/.gitignore
!/.gitattributes
!/.editorconfig
!/.vscode
!/.vscode/settings.json
!/index.html
!/planner.html
!/programs.json
!/curriculums.json
!/courses.json
!/weekly.html
!/main-ui.css
!/oibs_sections_all_20252_full.json
!/oibs_sections_all_20252.json
!/oibs_offerings_all_20252.json
!/oibs_offerings_20252.json
!/oibs_sections_20252.json
!/schedule_worker.js
!/changelog.html